/**
 *
 * {{ properCase name }}
 *
 */

import React, { Fragment } from 'react';
// import PropTypes from 'prop-types';
// import styled from 'styled-components';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}


{{#if wantLessFiles}}
import './index.less';
{{/if}}


export class {{ properCase name }} extends React.Component {
  constructor(props) {
    super(props);
    this.state = {

    };
  }

  render() {

      return (
          <div className='{{ properCase name }}'>

          </div>
        );
  }

}

{{ properCase name }}.propTypes = {};

{{#if memo}}
export default memo({{ properCase name }});
{{else}}
export default {{ properCase name }};
{{/if}}
